<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head'); %>
    <title>生成 GitHub 贡献图</title>
    <link rel="stylesheet" href="/element/index.css" />
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
  <%- include('components/aside'); %> <!-- 侧边 -->

    <main>
      <h2>生成 GitHub 贡献图 <span class="h2tag">https://contrib.rocks/</span></h2>
      <%- include('modules/generate-gitHub-contributions/index'); %>
    </main>

    <%- include('components/footer'); %> <!-- 公共 -->

      <%- include('modules/generate-gitHub-contributions/script'); %>
</body>

</html>