<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head'); %>
    <title>GitHub 历年 Commit 分布图</title>
    <link rel="stylesheet" href="./element/index.css" />
    <link rel="stylesheet" href="./css/index.css" />
</head>

<body>
  <%- include('components/aside'); %> <!-- 侧边 -->

    <main>
      <h2>GitHub 历年 Commit 分布图 <span class="h2tag">https://green-wall.leoku.dev/</span></h2>
      <%- include('modules/github-commit-year/index'); %>
    </main>

    <%- include('components/footer'); %> <!-- 公共 -->

      <%- include('modules/github-commit-year/script'); %>
</body>

</html>