<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head'); %>
  <title>GitHub 下载指定文件夹</title>
  <link rel="stylesheet" href="/element/index.css" />
  <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
  <%- include('components/aside'); %> <!-- 侧边 -->

    <main>
      <h2>GitHub 下载指定文件夹</h2>
      <%- include('modules/github-folder-download/index'); %>
    </main>

    <%- include('components/footer'); %> <!-- 公共 -->

      <script src="/js/jszip.js"></script>
      <%- include('modules/github-folder-download/script'); %>
</body>

</html>