<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head'); %>
    <title>Github Star 统计</title>
    <link rel="stylesheet" href="/element/index.css" />
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
  <%- include('components/aside'); %> <!-- 侧边 -->

    <main>
      <h2>Github Star 统计</h2>
      <%- include('modules/github-star/index'); %>
    </main>

    <%- include('components/footer'); %> <!-- 公共 -->

      <%- include('modules/github-star/script'); %>
</body>

</html>