<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GitHub 「特定」文件夹或文件下载工具</title>
  <link rel="stylesheet" href="./element/index.css" />
  <link rel="stylesheet" href="./css/index.css" />
  <%- include('modules/github-folder-download/style'); %>
</head>

<body>
  <%- include('components/aside'); %> <!-- 侧边 -->

    <main>
      <%- include('modules/github-folder-download/index'); %>
    </main>

    <%- include('components/footer'); %> <!-- 公共 -->

    <script src="https://upyun.luckly-mjw.cn/lib/jszip.js"></script>
    <%- include('modules/github-folder-download/script'); %>
</body>

</html>