<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head'); %>
  <title>时间戳转换工具</title>
  <link rel="stylesheet" href="/element/index.css" />
  <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
  <%- include('components/aside'); %> <!-- 侧边 -->

    <main>
      <h2>时间戳转换工具</h2>
      <%- include('modules/timestamp/index'); %>
    </main>

    <%- include('components/footer'); %> <!-- 公共 -->

      <%- include('modules/timestamp/script'); %>
</body>

</html>