<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head'); %>
  <title>推特视频下载器</title>
  <link rel="stylesheet" href="/element/index.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <%- include('modules/twitter-video-download/style'); %>
</head>

<body>
  <%- include('components/aside'); %> <!-- 侧边 -->

    <main>
      <h2>推特视频下载器</h2>
      <%- include('modules/twitter-video-download/index'); %>
    </main>

    <%- include('components/footer'); %> <!-- 公共 -->

      <%- include('modules/twitter-video-download/script'); %>
</body>

</html>