<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head'); %>
    <title>推文/截图美化工具</title>
    <link rel="stylesheet" href="/element/index.css" />
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
  <%- include('components/aside'); %> <!-- 侧边 -->

    <main>
      <h2>推文/截图美化工具 <span class="h2tag">https://vividshare.io/</span></h2>
      <%- include('modules/vividshare/index'); %>
    </main>

    <%- include('components/footer'); %> <!-- 公共 -->

      <%- include('modules/vividshare/script'); %>
</body>

</html>